.main-content {
  margin-left: 250px; /* Account for the width of the sidenav */
  padding: 20px;
  padding-top: 80px; /* Ensure main content is below the header */
  flex: 1; /* Makes the content fill available space */
  overflow-y: auto;
}

.main-content-wrapper {
  display: flex;
  flex: 1;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}