.notes-list {
    columns: 4 220px;
    column-gap: 3em;
    justify-content: center; 
    max-width: 1400px;
    margin: 0 auto; 
}



.new-note-input {
    margin-top: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none; 
    width: 100%; 
    
}
