.note-preview {
    width: 100%; 
    max-width: 238px; 
    padding: 24px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    position: relative;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0.1px;
    overflow: hidden; 
    height: auto; 
}

.note-title {
    margin-bottom: 12px; 
    font-weight: bold;
    font-size: 1.2em;
}

.note-content {
    margin-bottom: 16px; 
    line-height: 1.4;
    white-space: normal; 
}

.note-preview-btn {
    width: 41px;
    
    opacity: 0;
    transform: translateY(10px);
    padding: 8px ;
    border: none;
    border-radius: 4px;
    background-color: #e7e7e7ab;
    color: white;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.note-preview:hover .note-preview-btn {
    opacity: 1;
    transform: translateY(0);
    display: inline-block;
}

.note-preview-btn:last-child {
    margin-right: 0;
}

.note-btn img {
    width: 30px;
    height: 70%;
}

.note-btn-img {
    border-radius: 10px;
}

/* Responsive behavior */
@media (max-width: 768px) {
    .note-preview {
        max-width: 100%; /* Take up full width on smaller screens */
        margin: 10px 0; /* Adjust margin for spacing */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .note-preview {
        max-width: 45%; /* Adjust width for tablet screens */
    }
}

@media (min-width: 1025px) {
    .note-preview {
        max-width: 238px; /* Use the original width on larger screens */
    }
}
