.pinned-notes-section {
    columns: 4;
    column-gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.unpinned-notes-section {
    columns: 4;
    column-gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}



@media screen and (max-width: 1442px) {
    .pinned-notes-section {
        columns: 3;
    }

    .unpinned-notes-section {
        columns: 3;
    }

    .new-note-input {

        margin-left: 30%;

    }
}

@media screen and (max-width: 1181px) {
    .pinned-notes-section {
        columns: 2;
    }

    .unpinned-notes-section {
        columns: 2;
    }


    .new-note-input {
        margin-left: 20%;
    }
}

@media screen and (max-width: 890px) {
    .pinned-notes-section {
        columns: 1;
    }

    .unpinned-notes-section {
        columns: 1;
    }

    .main-content {
        margin-left: 70px; /* Adjust margin to match the sidenav width */
        padding: 20px;
        padding-top: 80px;
        flex: 1;
        overflow-y: auto;
    }

    .sidenav {
        height: calc(100vh - 60px); 
        width: 60px !important; /* Ensure sidenav width changes */
        background-color: #ffffff;
        position: fixed;
        left: 0;
        padding-top: 20px;
        z-index: 500;
        overflow-x: hidden;
        overflow-y: auto;
        transition: width 0.3s ease; /* Smooth transition */
    }

    .sidenav a {
        padding: 10px; /* Reduce padding for the smaller sidenav */
    }

    .nav-text {
        display: none; /* Hide text to fit within smaller width */
    }

    .new-note-input {
        margin-left: 10%;
        max-width: 280px !important;
    }
}

