.note-preview {
    width: 100%;
    max-width: 260px;
    padding: 24px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    position: relative;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0.1px;
    overflow: hidden;
    height: auto;
}

.note-title {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 1.2em;
}

.note-content {
    margin-bottom: 16px;
    line-height: 1.4;
    white-space: normal;
}

.btn-container {
    display: flex;
    align-items: center;
    gap: 8px; /* Adds spacing between buttons */
}

.note-preview-btn {
    width: 38px;
    opacity: 0;
    transform: translateY(10px);
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #e7e7e7ab;
    color: white;
    cursor: pointer;
    margin-right: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.note-preview:hover .note-preview-btn {
    opacity: 1;
    transform: translateY(0);
    display: inline-block;
}

.note-preview-btn img {
    width: 24px;
    height: 20px;
    vertical-align: middle;
}

.note-preview-btn:last-child {
    margin-right: 0;
}

.note-btn img {
    width: 30px;
    height: 70%;
}

.note-btn-img {
    border-radius: 10px;
}

.color-picker-container {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 38px;
    border-radius: 4px;
    background-color: #e7e7e7ab;
    cursor: pointer;
}

.color-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Ensure the color picker icon is aligned with other buttons */
.color-picker-container img {
    width: 24px;
    height: 20px;
    vertical-align: middle;
}

.note-video-iframe {
    width: 100%;
    /* Make the iframe take full width of the container */
    max-width: 238px;
    /* Same as the max-width of .note-preview */
    height: 178px;
    /* Maintain a 4:3 aspect ratio, so 238px width results in ~178px height */
    border-radius: 10px;
    /* Match the border radius of images */
    border: none;
    /* Remove default iframe border */
    margin-bottom: 16px;
    /* Add space below the iframe */
}