.nav-toolbar {
    display: flex;
    list-style-type: none;
    height: 20px;
    margin-bottom: 20px;
}

.toolbar-item {
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.toolbar-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: scale(1.1); 
}

.email-body {
    display: grid;
}

.email-from,
.email-to {
    margin-block-end: 0px;
}

.subject-header {
    font-size: 1.65em;
}

.email-from {
    font-size: 1.1em;
}

.nav-rep-for {
    display: flex;
    justify-content: space-between;
    width: 300px;
    background-color: white;
    padding: 20px;
    margin-right: 20px;
    border: 1px solid #E0E0E0;
    list-style-type: none;
    cursor: pointer;
}

.nav-rep-for li:hover {
    background-color: #E8F0FE;
    border-radius: 4px;
}