.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height to center vertically */
    text-align: center; /* Center text horizontally */
}

.home-header {
    margin-top: 40px;
    color: #1a73e8;
    font-size: 2.5em; /* Default font size */
}

/* Home Image Styling */
.home-img {
    width: 250px;
    height: auto;
    margin: 10px; 
}

/* Media Query for Tablets and Smaller Screens */
@media (max-width: 768px) {
    .home {
        padding: 20px;
    }

    .home-header {
        font-size: 2em; /* Scale down the font size */
        margin-top: 30px;
    }

    .home-img {
        width: 120px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

/* Media Query for Small Mobile Devices */
@media (max-width: 480px) {
    .home {
        padding: 15px;
    }

    .home-header {
        font-size: 1.5em; /* Further scale down the font size */
        margin-top: 20px;
    }

    .home-img {
        width: 100px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
