.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height to center vertically */
    text-align: center; /* Center text horizontally */
}

.home-header{
    margin-top: 40px;
    color:#1a73e8;
}

.home-img {
    width: 250px;
    height: auto;
    margin: 10px; 
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .home {
        padding: 20px; 
    }

    .home-img {
        width: 120px; 
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .home {
        padding: 15px; 
    }

    .home-img {
        width: 100px; 

        margin-top: 20px;
        margin-bottom: 20px;
    }
}
